*,
*:before,
*:after {
    box-sizing: inherit;
}


/* navbar */

nav {
    width: 100%;
    height: 70px;
}

nav .logo {
    color: white;
    font-size: 30px;
    padding: 0 50px;
    line-height: 60px;
    font-weight: bold;
    font-family: Algerian;
}

nav ul {
    float: right;
    margin-right: none;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 60px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 8px 12px;
}

nav ul li a.active,
a:hover {
    background: tomato;
    color: white;
    border-radius: 15px;
    transition: .3s;
}

.check-button {
    font-size: 27px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check-box {
    display: none;
}

@media (max-width:980px) {
    nav .logo {
        font-size: 28px;
        padding-left: 15px;
    }
    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width:820px) {
    .check-button {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 90vh;
        background: black;
        text-align: center;
        top: -100%;
        overflow: scroll;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 24px;
    }
    nav ul li a.active,
    a:hover {
        background: none;
    }
}

#check-box:checked~ul {
    top: 70px;
    transition: all .7s;
}

body {
    margin: 0;
    /* background: url("../images/image.jpg") no-repeat center fixed; */
    background-color: black;
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.nav-brand {
    display: inline-block;
    font-size: xx-large;
    color: white;
}

.first-container {
    width: 100%;
}

.nav-link {
    float: right;
}

.nav-link a,
.footer a {
    text-decoration: none;
    color: white;
    font-size: 2;
    margin: 2px 5px;
}

.header {
    margin: 0% 7% 1%;
    padding: 20px;
}

.container {
   margin: auto;
    width: 600px;
    text-align: center;
    padding: 20px;
    color: white;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, 55%); */
}

.heading {
   /* margin-top: 300px; */
    font-size: 200%;
    font-weight: bolder;
}

.sub-text {
    font-weight: lighter;
}

button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    margin: 3% 3%;
}

button:hover {
    cursor: pointer;
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid hsl(236, 32%, 26%);
    transform-origin: center;
    transform: scale(1);
}

button:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.footer {
    /* position: fixed; */
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 60px;
    text-align: center;
}

.footer a {
    margin: 2% 3%;
}